apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-env
  labels:
    app: {{ .Release.Name }}
data:
  SERVICE_NAME: "{{ .Release.Name }}"
  SERVICE_VERSION: "{{ .Values.image.tag }}"
  # OTEL_EXPORTER_OTLP_ENDPOINT: "{{ .Values.application.otelUrl }}"
  HTTP_PORT: "{{ .Values.application.port }}"