apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.configMap.name }}
data:
  application.yaml: |
    ---
    server:
      port: 8081

    spring:
      datasource:
        url: jdbc:postgresql://{{ .Values.configMap.database.host }}:{{ .Values.configMap.database.port }}/{{ .Values.configMap.database.name }}
        username: {{ .Values.configMap.database.username }}
    currency:
      service:
        url: http://{{ .Values.currencyService.host }}:{{ .Values.currencyService.port }}/rate
    management:
      endpoints:
        web:
          exposure:
            include: '*'
      endpoint:
        health:
          probes:
            enabled: true
          show-details: always
      metrics:
        export:
          prometheus:
            enabled: true
        distribution:
          percentiles-histogram:
            http:
              server:
                requests: true
    logging:
      file:
        name: /logs/app.log
      pattern:
        console: "%d{yyyy-MM-dd HH:mm:ss.SSS} level=%5p [${spring.application.name},trace_id=%X{trace_id:-},span_id=%X{span_id:-}] - %m%n"
        file:    "%d{yyyy-MM-dd HH:mm:ss.SSS} level=%5p [${spring.application.name},trace_id=%X{trace_id:-},span_id=%X{span_id:-}] - %m%n"
